{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class ="list-group">
    <a href = "{% url 'fertilizer' %}" class = "list-group-item list-group-item-action" aria-current = "true">ALL FERTILIZERS</a>

  <a href = "{% url 'fertilizerdata' 'below' %}"class = "list-group-item list-group-item-action">All Fertilizers Below Rs.500</a>
  <a href = "{% url 'fertilizerdata' 'above' %}"class = "list-group-item list-group-item-action" >All Fertilizers Above Rs.500</a>
  
  </div>
 </div>
</div class = "col-sm-8">
 <div class ="row">
   {% for f  in fert %}
    <div class = "col-sm text-center mb-4">
       <a href = "{% url 'product-detail' f.id %}" class = "btn">
         <div class = "item">
           <img src = "{{f.product_image.url}}" alt="" height="100" class = "">
           <div class = "fw-bold">{{f.title}}</div>
           <div class = "fw-bold">Rs.{{f.discounted_price}}
           <small class = "fw-light text-decoration-line-through">{{f.selling_price}}
           </small><div>
           </div>
           </a>
           </div>
           {% endfor %}
           </div>
           </div>
           </div>
           </div>
           

{% endblock main-content %}   